body {
    background-color: #e2e2e2;
}

/* titres de la page */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

nav > a {
    background-color: #e2e2e2;
    color: #333333;
}

/* nav > a::before,
nav > a::after {
    content: " - ";
} */

/* paragraphes */

section > p::before {
    content: "";
    padding-left: 50px;
}

/* ou 
section > p {
    text-indent: 20%;
}*/

/* Règles media queries */

@media (min-width: 992px) {

    nav > a {
        background-color: #fff;
    }
}